<!DOCTYPE HTML>

<html>
	<head>
		<title>Tax Calc</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="../static/assets/js/ie/html5shiv.js"></script>
		<link rel="stylesheet" href="../static/assets/css/graph.css" />
		<link rel="stylesheet" href="../assets/css/ie.css" />
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
		<meta name="description" content="">
		<meta name="keywords" content=" ">
        <link rel="SHORTCUT ICON" href="../static/images/logo.svg" type="image/x-icon">
        <script src='../static/assets/js/plot.js'></script>
		<link rel="stylesheet" href="../static/assets/css/main.css">
        <script src="js/moment-with-locales.min.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Prata&display=swap" rel="stylesheet">
        <script src="js/bootstrap-datetimepicker.min.js"></script>
		<link rel="stylesheet" href="../static/assets/css/media.css">
		<link rel="stylesheet" href="../static/assets/css/fonts.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico">	
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<script src="../static/assets/js/prefixfree.min.js"></script>
		<style>
			.center-img {
  display: block;
  margin: 0 auto;
}
    /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */




    *{margin:0;padding:0;}

    svg{
      width:100%;
      margin-top: 2%;

    }
    path{transition:all .5s;fill:rgba(0,0,0,0);stroke:rgba(0,0,0,0.5);}

    .indicator{
      position:absolute;
      display:inline;
      background:rgba(0,0,0,1);
      color:#f1f1f1;
      padding:10px 30px;
      font:20px Arial;
      border-radius:5px;
      width: 200px;
	  height: 200px;

      text-transform:capitalize;
      display:none;


    }

    .flag {
      top: 50px;
      left:100px;
      width: 80px;



    }

    .clear{clear:both}
    .name{float:left;margin-right:30px;}
    .flag{position:absolute;top:40px;left:150px;
    }

    .regs {
      columns: 5;
      padding: 10px;
    }

    .reg span {
      font-size: 10px;

    }

    .regs div {
      width: auto;
      font-size: 14px;
      /* columns: 3;*/
      cursor: pointer;

    }


    .capital{clear:both;

    INPUT[type="text"] {
    background-color: navy;
    color: #ffe;
   }
   }

		
		</style>
	</head>
	<body class = "color_z">
		<nav id="layerMax" class="nav">
			<div class="container">
			  <!--<img src="../static/images/cash.png">-->
			</div>
        </nav>
<section id="banner">
<img src="../static/images/logo.svg" class="logo" ALIGN=LEFT style="transform: scale(2) translate(0,150px);margin-left: 70%;opacity: 0.5;">
        <div class="inner split">
					<section>
<form id="form" name="form" role="form" action="{% url 'get_Info' %}" text-align="center" method="post" class="center-block fon" style="-moz-linear-gradient(45deg, #5fe96b 0%, #e8fd28 100%); margin: 0 auto">
    {% csrf_token %}

  <div class="row">

    <div style=>
        <p align="center"><h1 style="transform: scale(1.4) translate(-60px,-300px);text-align: center;"><font class="font1" color="#ffffff">Куда могли пойти ваши налоги?</font></h1></p>
        <p align="center"><h4 style="transform: translate(-85px,-300px);text-align: center;"><font class="font2" color="#ffffff">Заполните поля снизу, чтобы увидеть свой вклад в развитие региона и государства в целом.</font></h4></p>
      <div class="control-group required">

        <div class="controls" style="margin-bottom: 10px">


            <p></p>
            <p></p>
          <label class="form-control visually-hidden bg-info" for="inlineFormSelectPref"></label>
                    <select class="bg-white text-dark" style="transform: translate(-100px,-300px);" id="region" name = "region" value ="{{ region }}">
                            <script type="text/javascript">
                  var regions = {0: 'Республика Адыгея', 1: 'Республика Башкортостан', 2: 'Республика Бурятия', 3: 'Республика Алтай',
                   4: 'Республика Дагестан', 5: 'Республика Ингушетия', 6: 'Кабардино-Балкарская Республика',
                   7: 'Республика Калмыкия', 8: 'Республика Карачаево-Черкесия', 9: 'Республика Карелия', 10: 'Республика Коми',
                   11: 'Республика Марий Эл', 12: 'Республика Мордовия', 13: 'Республика Саха (Якутия)',
                   14: 'Республика Северная Осетия — Алания', 15: 'Республика Татарстан', 16: 'Республика Тыва',
                   17: 'Удмуртская Республика', 18: 'Республика Хакасия', 19: 'Чувашская Республика', 20: 'Алтайский край',
                   21: 'Краснодарский край', 22: 'Красноярский край', 23: 'Приморский край', 24: 'Ставропольский край',
                   25: 'Хабаровский край', 26: 'Амурская область', 27: 'Архангельская область', 28: 'Астраханская область',
                   29: 'Белгородская область', 30: 'Брянская область', 31: 'Владимирская область', 32: 'Волгоградская область',
                   33: 'Вологодская область',
                   34: 'Воронежская область', 35: 'Ивановская область', 36: 'Иркутская область', 37: 'Калининградская область',
                   38: 'Калужская область', 39: 'Камчатский край', 40: 'Кемеровская область', 41: 'Кировская область',
                   42: 'Костромская область', 43: 'Курганская область', 44:
                     'Курская область', 45: 'Ленинградская область', 46: 'Липецкая область', 47: 'Магаданская область',
                   48: 'Московская область', 49: 'Мурманская область', 50: 'Нижегородская область', 51: 'Новгородская область',
                   52: 'Новосибирская область', 53: 'Омская область', 54: 'Оренбургская область', 55: 'Орловская область',
                   56: 'Пензенская область', 57: 'Пермский край', 58: 'Псковская область', 59: 'Ростовская область',
                   60: 'Рязанская область', 61: 'Самарская область', 62: 'Саратовская область', 63: 'Сахалинская область',
                   64: 'Свердловская область', 65: 'Смоленская область', 66: 'Тамбовская область', 67: 'Тверская область', 68: 'Томская область', 69: 'Тульская область', 70: 'Тюменская область', 71: 'Ульяновская область', 72: 'Челябинская область', 73: 'Забайкальский край', 74: 'Ярославская область', 75: 'Москва', 76: 'Санкт-Петербург', 77: 'Еврейская автономная область', 78: 'Республика Крым', 79: 'Ненецкий автономный округ', 80: 'Ханты-Мансийский автономный округ Югра', 81: 'Чукотский автономный округ', 82: 'Ямало-Ненецкий автономный округ', 83: 'Севастополь',
                  84: 'Байконур', 85: 'Чеченская республика'};
                  for (region in regions) {
                    document.write("<option>"+regions[region]+"<\/option>");
                   }
                            </script>
                    </select>

        </div>
        <div class="form-group" style="margin-bottom: 10px">
          <input class="bg-white text-dark" style="transform: translate(-100px,-300px);" placeholder="Зарплата" name="salary" value = "{{ salary }}" id="salary" maxlength="30" type="text"/>
        </div>
          <a href="#main-table"><input class="btn btn-success" style="transform: translate(90px,-300px);" type="submit" class="button" value="Мой вклад" /></a>
      </div>

    </div>
  </div>


</form>

					</section>

				</div>
			</section>


        {% block content %}
        {% endblock %}
        <div name="main-table" style="transform: translate(0px, 400px);">
            <div style="width: 50%; margin: -300px 20px 50px 100px; text-align: center;">
     <h1 style="transform: translate(500px, 0px);"><font class="font2" color="#00000">Посмотрите, какую часть от государственного контракта составляет ваша сумма налога</font></h1>
     <h3 style="transform: translate(500px, 0px);"><font class="font2" color="#00000">Отдавая часть своих денег в виде налогов, мы по сути выступаем соучастниками создания благоприятной для жизни среды. Из налоговых поступлений государство финансирует значительную часть расходов: на оборону, на здравоохранение, образование, на содержание органов управления, суда, на социальную и культурную сферу</font></h3>
 </div>
            {{ table|safe}}
 <div style="width: 50%; margin: 70px 20px 50px 100px; text-align: center;">
     <h1 style="transform: translate(500px, 0px);"><font class="font2" color="#00000">Расходы бюджета</font></h1>
     <h3 style="transform: translate(500px, 0px);"><font class="font2" color="#00000">Посмотрите на динамику изменения стратегии распределения государственного бюджета</font></h3>
 </div>



<div class="graph">
		<svg class = "svg-graph" viewBox="0 0 1420 651">
			<a href="#">
				<path class="part" d="m 317.96235,313.27291 -191.11762,0.0919 0.13792,51.85968 191.11762,-0.3678 z" fill="#bf2523" description-data="Муниципальный: 905,88 млрд"></a>

				<a href="#">
				<path class="part" d="m 318.10027,364.85669 -0.32182,130.75264 H 127.2585 l -0.27585,-130.38484 z" fill="#bf2523" description-data="Региональный: 2 287,93 млрд">
				</a>

			<a href="#">
				<path class="part" d="m 317.77845,495.60933 -0.3678,115.67283 -190.70385,-1.1034 0.5517,-114.56943 H 317.77845 V 610.54656 495.60933 l 0.3678,115.30503 -191.62335,-0.9195 0.7356,-114.38553 z" fill="#bf2523" description-data="Федеральный: 2 011,44 млрд">
				</a>


			<a href="#">
				<path class="part1" d="m 391.9304,315.53388 -0.065,49.60898 h 190.76373 l 0.26008,-49.3489 z" fill="#bf2523" description1-data="Муниципальный: 873,47 млрд">
				</a>

			<a href="#">
				<path class="part1" d="m 391.8654,365.14286 -0.13005,120.21886 191.02381,-0.52014 -0.13003,-119.69872 z" fill="#bf2523" description1-data="Региональный: 2 093,87 млрд">
				</a>

			<a href="#">
				<path class="part1" d="m 391.73535,485.36172 0.065,125.35531 191.02381,-0.065 -0.065,-125.81044 z" fill="#bf2523" description1-data="Федеральный: 2 205,87 млрд">
				</a>

			<a href="#">
				<path class="part2" d="m 657.40018,325.5467 v 50.71429 l 191.28389,-0.13004 -0.13004,-50.97436 z" fill="#bf2523" description2-data="Муниципальный: 890,17 млрд">
				</a>

			<a href="#">
				<path class="part2" d="m 657.40018,376.26099 0.19506,116.83791 190.76374,-0.52014 0.32509,-116.44781 z" fill="#bf2523" description2-data="Региональный: 2 047,07 млрд">
				</a>


			<a href="#">
				<path class="part2" d="m 657.59524,493.0989 -0.065,117.35806 191.47894,-0.19505 -0.65018,-117.68315 z" fill="#bf2523" description2-data="Федеральный: 2 063,26 млрд">
				</a>

			<a href="#">
				<path class="part3" d="m 922.73993,280.35897 v 63.45788 l 191.02377,-0.13004 0.1301,-63.1978 z" fill="#bf2523" description3-data="Муниципальный: 1 124,39 млрд">
				</a>

			<a href="#">
				<path class="part3" d="M 922.73993,343.81685 923,493.22894 1113.7637,492.96887 V 343.68681 Z" fill="#bf2523" description3-data="Региональный: 2 608,09 млрд">
				</a>

			<a href="#">
				<path class="part3" d="m 923,493.22894 -0.13004,117.03297 h 191.41394 l -0.5202,-117.29304 z" fill="#bf2523" description3-data="Федеральный: 2 053,49 млрд">
				</a>

			<a href="#">
				<path class="part4" d="m 1188.072,243.15634 -0.1768,74.95332 191.0956,0.0442 -0.1326,-75.0859 z" fill="#bf2523" description4-data="Муниципальный: 1 326,06 млрд">
				</a>

			<a href="#">
				<path class="part4" d="m 1187.8952,318.10966 0.221,161.08777 191.184,-0.26517 -0.3094,-160.7784 z" fill="#bf2523" description4-data="Региональный: 2 813,35 млрд">
				</a>

			<a href="#">
				<path class="part4" d="m 1188.1162,479.19743 -0.3094,131.34508 191.2282,-0.17678 0.2652,-131.43347 z" fill="#bf2523" description4-data="Федеральный: 2 302,22 млрд">
				</a>

			</svg>

			<div class="description-graph">

			</div>

			<div class="description1-graph">

			</div>

			<div class="description2-graph">

			</div>

			<div class="description3-graph">

			</div>

			<div class="description4-graph">

			</div>


			<img src="../static/images/bar.png" alt="">
		</div>
<section id="contact" class="wrapper">
				<div class="inner split">
					<section>
                        <h2><a></a></h2>
					</section>

				</div>
			</section>


            </div>




		<!-- Contact -->


		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="../static/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../static/assets/js/main.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


			<script src="../static/assets/js/map.js"></script>
	        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	        <script src="/static/js/app.js"></script>
            <script src="libs/html5shiv/es5-shim.min.js"></script>
            <script src="libs/html5shiv/html5shiv.min.js"></script>
            <script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
            <script src="libs/respond/respond.min.js"></script>
        <![endif]-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="../static/assets/js/graph.js"></script>
	</body>
</html>
